html, body {height: 100%;}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c1beca));
    background: -moz-linear-gradient(top, #fff, #c1beca);
}
#wrapper{   
    margin:auto;                                            
	background: url("/images/gorilla-grad.png") 0px 200px no-repeat;    
	background-position:50% 270px;    
	min-height: 100%;
	
}
.center {
	display: block;
	margin: 0px auto;
	
}
#header{
	padding-top: 50px;
	width: 900px;
	margin: 0px auto;
}

#header>h1{
    font-size:200%;
}

h2{
    font-size:130%;
    font-family:sans-serif;
}

#content{
	padding-top: 200px;
	margin:0px auto;      
	padding-bottom: 300px;
	overflow:auto;
}

h1{
    font-size:150%;
}

#footer{
	
	position: relative;
	margin-top: -300px; /* negative value of footer height */
	height: 300px;
    clear:both;	
    background-color:#3c3647;
    font-size:75%;
    font-family:sans-serif;
    color:#a39fab;        
	text-align: center;
}                        

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#inner {
	margin: 0px auto;
	width: 700px;  
	padding: 50px;
}    
#signup {
	width: 300px;
	float: left;
	text-align: left;    
}
#follow-us { 
	width: 300px;
	float: right; 	
}                       
#copyright {  
	padding-top: 50px;
	float: left;
	width: 100%;
}
ol{
    padding-top:20px;
    background-color:#ade;
    display:block;
}

li{
    color:white;
    text-align:center;
    display:inline;
    padding:5px 10px 0 10px;
    margin-right:2px;
    background-color: #69a;
}

a{
    text-decoration:none;
}         
.email {
	-webkit-border-radius: 5px;
   	-moz-border-radius: 5px;
   	border-radius: 5px;        
	height: 25px;
}          
.button {
   border-top: 1px solid #f8ca26;
   background: #f8ca26;
   background: -webkit-gradient(linear, left top, left bottom, from(#f3a318), to(#f8ca26));
   background: -moz-linear-gradient(top, #f3a318, #f8ca26);
   padding: 4px 8px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 17px;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #f3a318;
   background: #f3a318;
   color: #000000;
   }
.button:active {
   border-top-color: #f8ca26;
   background: #f8ca26;
   }