html, body {height: 120%;}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c1beca));
    background: -moz-linear-gradient(top, #fff, #c1beca);
}
#wrapper{   
    margin:auto;                                            
	background: url("/images/gorilla-grad.png") 0px 200px no-repeat;    
	background-position:50% 270px;    
	
}
.center {
	display: block;
	margin: 0px auto;
	
}
#header{
	padding-top: 50px;
	width: 900px;
	margin: 0px auto;
}

#header>h1{
    font-size:200%;
}

h2{
    font-size:130%;
    font-family:sans-serif;
}

#content{
	padding-top: 200px;
	margin:0px auto;
	overflow:auto;
}

h1{
    font-size:150%;
}

#footer{
    clear:both;	 
	min-height: 300px;
    background-color:#3c3647;
    font-size:75%;
    font-family:sans-serif;
    color:#a39fab;        
	text-align: center;
}                        

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#inner {
	margin: 0px auto;
	width: 600px;  
	padding: 50px;
}    
#signup {
	width: 260px;
	float: left; 
	padding-left: 100px;
	text-align: left;    
}
#follow-us { 
	padding-top: 15px;
	width: 120px;
	float: right; 	
	padding-right: 100px;
}                       
#follow-us img {
	padding: 8px;
}
#copyright {  
	padding-top: 50px;
	float: left;
	width: 100%;
}
ol{
    padding-top:20px;
    background-color:#ade;
    display:block;
}

li{
    color:white;
    text-align:center;
    display:inline;
    padding:5px 10px 0 10px;
    margin-right:2px;
    background-color: #69a;
}

a{
    text-decoration:none;
}         
.email {
	-webkit-border-radius: 5px;
   	-moz-border-radius: 5px;
   	border-radius: 5px;        
	height: 25px;      
	width: 243px;
	padding: 0 5px;
}          
.button {
   border-top: 1px solid #f8ca26;  
   background: #f8ca26;
   background: url('/images/sign-up-button.png') no-repeat scroll top right;
   padding: 4px 6px;
   margin: 0 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 17px;
   text-decoration: none;
   vertical-align: middle;
	border: none;
   }
.button:hover {
   border-top-color: #f3a318;
   background: #f3a318;
   color: #000000;
   }
.button:active {
   border-top-color: #f8ca26;
   background: #f8ca26;
   }      

.button2 {
    float: left;
	/*basic styles*/
	width: 258px;  height:50px;  color: white; background-color: #f6aa32;
	text-align: center;  font-size: 30px;  line-height: 50px;

    margin-top: 10px;
	/*gradient styles*/                                                          
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6aa32), to(#e58c00));
	background: -moz-linear-gradient(19% 75% 90deg,#e58c00, #f6aa32);

	/*border styles*/
	border-left: solid 1px #ffcd7e;
	border-top: solid 1px #ffcd7e;
	border-right: solid 1px #875300;
	border-bottom: solid 1px #a6711e;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e58c00), to(#f6aa32))

}

.button2 h3 {
	font-size: 20px;
	line-height: 35px;
	font-family: helvetica, sans-serif;
}

.button2 p {
	font-size: 12px;
	line-height: 4px;
	font-family: helvetica, sans-serif;
}

.button2 p {a {
	text-decoration: none;
	color: fff;
}

.button2:active,.button2:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e58c00), to(#f6aa32));
	background: -moz-linear-gradient(19% 75% 90deg,#f6aa32, #e58c00);
}