html, body {
	background-image: url(/images/bg.png);
	background-repeat: repeat-x;
	background-color: #58c7d2;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-size: 10px;
	color: #FFF;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
#wrapper{   
    width:1000px;
    border:0px; 
	margin: 0 auto;
}
.center {
	display: block;
	margin: 0px auto;
	
}
.clear {
	clear:both;
}
#header{	
	width: 813px;
	height: 485px;
	margin: 0px auto;
	padding-top: 10px;
	padding-bottom: 33px;
}

#footer{background:url(/images/bottom.png) no-repeat 0 0; width: 681px;margin: 0 auto;}         
.byline {padding-left: 290px; padding-top: 70px; float: left; height: 50px; text-align: center;}
/* Social */

#social_container {width:115px;height:35px;border:0px; float:right;padding-top: 25px;} 
#twitter_box {float:left; padding-right: 5px; border:0px;} 
#facebook_box {float:left; padding-right: 5px; border:0px;} 
#googleplus_box {float:left; border:0px} 

a.button_twitter {
	background: url(/images/button_twitter.png) no-repeat 0 0;
	width: 35px;
	height: 35px;
	display: block;
	text-indent: -9999px;
}

a.button_twitter:hover { background-position: 0 -35px; }

a.button_twitter:active { background-position: 0 -70px; }

a.button_facebook {
	background: url(/images/button_facebook.png) no-repeat 0 0;
	width: 35px;
	height: 35px;
	display: block;
	text-indent: -9999px;
}

a.button_facebook:hover { background-position: 0 -35px; }

a.button_facebook:active { background-position: 0 -70px; }

a.button_googleplus {
	background: url(/images/button_googleplus.png) no-repeat 0 0;
	width: 35px;
	height: 35px;
	display: block;
	text-indent: -9999px;
}

a.button_googleplus:hover { background-position: 0 -35px; }

a.button_googleplus:active { background-position: 0 -70px; }     

/* Contact Form */

#contact_form {width: 681px; height:52px; display:block; border:none; float:left;}

#blank_box {width:130px;float:left;border:0px; text-indent:-9999px}
#field_box {width:462px;float:left;border:0px; margin-top:9px; margin-left: 130px;} 
#signup_box {width:89px;float:left;border:0px; margin-top:9px} 

.field {
	background: url(/images/field.png) no-repeat 0 0;
	width: 462px;
	height: 35px;
	display: block;
	border:none;
	font:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#333;
	font-weight:bold;
	padding-left:8px;
}

.button_signup {
	background: url(/images/button_signup.png) no-repeat 0 0;
	width: 85px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	border:none;
	margin-left:3px;
}

.button_signup:hover { background-position: 0 -37px; }

.button_signup:active { background-position: 0 -74px; }